@charset "utf-8";
/* CSS Document */
  html,body{
       padding:0;
	   margin:0;
	   font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif;
   }
   ul,li{
	   margin:0;
	   padding:0;
	   list-style:none;
   }
   a{
	   text-decoration:none;
	   color:#f5f5f5;
   }

	    
  #message_bg{
      background:url(../img/message_bg.jpg)  no-repeat fixed #c0c0c0;
	  background-size:cover;
	  overflow-y:scroll;
  }
  .message_center{
      margin:0 auto;
	  margin-top:20px;
	  padding:15px;
	  position:relative;
	  width:960px;
	  background:rgba(40,40,40,.50);
  }
  
  .message_header{
      background:rgba(40,40,40,.95);
	  border-radius:4px;
  }
      .message_header:after{
		  content:"."; 
		  height:0; 
   	 	  visibility:hidden; 
	 	  display:block; 
		  clear:both;   
       }
  
  .message_title{
	  padding-left:40px;
	  margin-bottom:20px;
  }
  	  #message_iconplane{
	      background:url(../img/message_paperplane.png);
		  background-size:cover;
		  display:inline-block;
		  width:16px;
		  height:14px;
		  margin-right:5px;
	  }
	  #message_title{
		  font-size:20px;
		  line-height:50px; 
		  color:#f5f5f5;
		  font-weight:600;
		  letter-spacing:2px;
	  }
  
  .message_pagnation{
	  position:relative;
	  margin-right:20px;
	  float:right;
  }	   
      .message_pagnation ul li {
          font-size:16px;
		  float:left;
		  line-height:50px;
		  padding:0 20px;
	   }
  	 	  .message_pagnation ul li:before{
	           content:"";
		 	   display:inline-block;
			   background:url(../img/message_flower.ico);
			   background-size:cover;		   
			   width:15px;
			   height:15px;
        	   position:relative;
			   top:2px;
			   left:-3px
	   }
  .message_group_title{
       position:relative;
	   margin-top:16px;
	   text-align:right;
	   color:#f5f5f5; 
	   background:rgba(21,21,21,0.90);
	   height:42px;
	   line-height:42px;
	   padding-right:40px;
	   border-radius:4px;
	   }
	   #emoticons{
	   	   -webkit-animation:emoticons 5s infinite ease-in-out;
		   animation:emoticons 5s infinite ease-in-out;
		   display:inline-block;
		   font-size:12px;
		   margin-right:10px;
	   }
  .message_main_ul{
	  margin-top:16px;
  }
  	   .message_main_list{
     	   position:relative;
		   margin-bottom:16px;
		   color:#f5f5f5; 
		   background:rgba(21,21,21,0.90);
		   min-height:50px;
	 	   border-radius:4px;
		   padding:30px 0;
		   -webkit-animation:scale-in .5s ease .4s backwards;
		   animation:scale-in .5s ease .4s backwards;
	   }
	           .message_main_list:after{
				   	content:"."; 
		 			height:0; 
   	 			    visibility:hidden; 
	 				display:block; 
				    clear:both; 
		       }
	   	   .main_list_left{
		       float:left;
			   height:60px;
			   width:160px;
			   text-align:center;
		   }
		       .main_list_head{
				   height: 60px;
				   width: 60px;
				   border-radius:60px;
				   background-color:#f58cac;
				   display: inline-block;
				   text-align: center;
		   }
		   		   .main_list_head img{
				   		height: 30px;
						width: 30px;
						margin: 15px auto;
						display: inline-block;
				   }
		   .main_list_right{
		   	   float:left;
			   width:720px;
			   height: 60px;
		   }
		       .main_list_username{
			       font-weight: bold;
				   display: block;
				   margin-bottom: 10px;
			   }
			   .main_list_source{
			       	margin-right: 30px;
			   }
					   .list_source_reply{
						   color: #b4b4b4;
						   max-width:400px;
						   white-space:nowrap;
						   overflow:hidden;
						   text-overflow:ellipsis;
						   display: inline-block;
					   }
						   .list_source_time{
							   float: right;
							   color: #f5f5f5;
							   font-size:10px;
						   }
